/* Create CSS selectors that hook into the unique id's or classes in the HTML */

body {
    font-family: Neue Helvetica;
    background-color: rgb(244, 240, 240);
}

#swapList {
    float:left;
    width: 50%;
}

ul {
    list-style-type: square; 
    margin: 2px;
}

li {
    line-height: 200%;
    margin-top: 10px;
}

input[type=text] {
    border-width: 0 0 1px 0;
    border-color: #333;
    color: rgba(216, 170, 201, 0.852);
    font-size: 12pt;
}

#buttonDiv {
    text-align: center;
}

#launchButton {
    margin-top: 30px;
    width: 200px;
}

#story {
    margin-top: 12px;
    width: 45%;
    border: 1px dashed blue;
    padding: 8px;
    float: left;
}

.replacement {
    text-decoration: underline;
    color: DarkRed;
}


/* tooltip stuff */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(139, 137, 137);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }



