<!-- We are creating a simple user interface for a MadLibs type of game -->
<!-- First we need to create the list of words we will swap into our story -->
<!-- Then we need to create a button which will run our swap function -->
<!-- Lastly, we need a place for our story to appear on the UI -->
<script src="/js/story.js"></script>

<div id="swapList">
    <ul>
        <li><input type="text" id="noun1" /><br>Noun</li>
        <li><input type="text" id="adjective1" /><br>Adjective</li>
        <li><input type="text" id="verb1" /><br>Verb</li>
        <li><input type="text" id="adverb1" /><br>Adverb</li>
        <li><input type="text" id="noun2" /><br>Noun</li>
        <li><input type="text" id="adjective2" /><br>Adjective</li>
        <li><input type="text" id="pluralNoun1" /><br>Plural Noun</li>
        <li><input type="text" id="pluralNoun2" /><br>Plural Noun</li>  
        <li><input type="text" id="pluralNoun3" /><br>Plural Noun</li>
        <li><input type="text" id="bodyPart1" /><br>Part Of The Body</li> 
        <li><input type="text" id="noun3" /><br>Noun</li>
        <li><input type="text" id="noun4" /><br>Noun</li>
        <li><input type="text" id="noun5" /><br>Noun</li>
        <li><input type="text" id="noun6" /><br>Noun</li>
        <li><input type="text" id="bodyPart2" /><br>Part Of The Body</li>
    </ul>
    <div id="buttonDiv">
        <button id="swapButton">Swap In Words!</button>
    </div>
</div>
<div id="story"></div>

